<?xml version="1.0" encoding="UTF-8"?>
<!-- configuration file for LogBack (slf4J implementation) See here for more 
	details: http://gordondickens.com/wordpress/2013/03/27/sawing-through-the-java-loggers/ -->
<configuration scan="true" scanPeriod="30 seconds">

	<contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
		<resetJUL>true</resetJUL>
	</contextListener>

	<!-- To enable JMX Management -->
	<jmxConfigurator />

	<appender name="console" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%-5level %logger{0} - %msg%n</pattern>
		</encoder>
	</appender>

	<appender name="spring-file" class="ch.qos.logback.core.FileAppender">
		<file>logs/spring-log.log</file>
		<append>false</append>
		<encoder>
			<pattern>%-5level %logger{0} - %msg%n</pattern>
		</encoder>
	</appender>
	
	
	<appender name="database-file" class="ch.qos.logback.core.FileAppender">
		<file>logs/main/database-tester.log</file>
		<append>false</append>
		<encoder>
			<pattern>%-5level %logger{0} - %msg%n</pattern>
		</encoder>
	</appender>
	<appender name="database-tester-file" class="ch.qos.logback.core.FileAppender">
		<file>logs/tests/database-tester.log</file>
		<append>false</append>
		<encoder>
			<pattern>%-5level %logger{0} - %msg%n</pattern>
		</encoder>
	</appender>

	<logger name="database-logger" level="ALL">
		<appender-ref ref="database-file" />
	</logger>

	<logger name="database-test-logger" level="ALL">
		<appender-ref ref="console" />
		<appender-ref ref="database-tester-file" />
	</logger>
	

	<root level="ALL">
		<appender-ref ref="spring-file" />
	</root>
</configuration>
